body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #00ffcc;
  font-family: 'Courier New', Courier, monospace;
}
a { color: #0ff; }
.container {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}
h1, h2 {
  color: #00ffee;
  border-bottom: 1px solid #0ff;
}
